<div class="skills-cont d-flex flex-column justify-content-center">
    <h5 class="my-3">MY SPECIALTY</h5>
    <h4 class="my-3">MY SKILLS</h4>
    <p class="my-5">
        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
        devious Semikoli, but the Little Blind Text didn't listen. She packed her seven versalia, put her initial into
        the belt and made herself on the way.
    </p>
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.photoshop" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">Photoshop</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.photoshop}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.photoshop"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.jQuery" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">jQuery</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.jQuery}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.jQuery"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.htmls" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">HTML5</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.htmls}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.htmls"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.css3" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">CSS3</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.css3}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.css3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.wordPress" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">WordPress</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.wordPress}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.wordPress"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div [style.width]="progressValues.seo" class="d-flex justify-content-between mb-1 position-relative">
                        <p class="m-0">SEO</p>
                        <p class="m-0 fw-medium" style="font-size: 12px">{{progressValues.seo}}</p>
                        <div class="cir-dot position-absolute"></div>
                    </div>
                    <div class="progress m-0" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar m-0" [style.width]="progressValues.seo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>