<div class="home-container position-relative">
    <div [class]="contentStyle">
        <div class="text-center text-md-start">
            <h1>Hi! <br>Im Jackson</h1>
            <p [innerHTML]="pContent"></p>
            <button [class]="btnStyle">download cv <i class="fa-solid fa-download"></i></button>
        </div>
    </div>

    <div [class]="contentStyle">
        <div class="text-center text-md-start">
            <h1>I am <br>a Designer</h1>
            <p [innerHTML]="pContent"></p>
            <button [class]="btnStyle">view portfolio <i class="fa-solid fa-briefcase"></i></button>
        </div>
    </div>
</div>